* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    background-color: lightgray;
    font-family: sans-serif;
    width: 100%;
}

.container {
    display: flex;
    justify-content: center;
    width: 100vw;
}

